<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Laravel Mix Twig Extension</title>
        <meta name="description" content="">
        <meta name="viewport" content="viewport-fit=cover, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        {% block main %}{% endblock %}
    </body>
</html>
